// Breakpoints.
$breakpoint-mobile: 320px;
$breakpoint-tablet-ipad: 768px;
$breakpoint-tablet: 992px;
$breakpoint-tablet-ipad-landscape: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1366px;

// Fonts
$font_custom: 'especial_kayregular';
$font_google: 'Roboto', sans-serif;
$font_icomoon: 'icomoon';
