.card {
  background-color: $white;
  box-shadow: 0 0 80px $white--50;
  margin-bottom: 15px;
  width: 100%;
  @media screen and (min-width: $breakpoint-tablet-ipad) {
    max-width: 49%;
    &:nth-child(2n + 1) {
      margin-right: 2%;
    }
  }
  @media screen and (min-width: $breakpoint-tablet-ipad-landscape) {
    max-width: 32%;
    &:nth-child(2n + 1) {
      margin-right: 0;
    }
    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      margin-right: 2%;
    }
  }
  @media screen and (min-width: $breakpoint-desktop) {
    max-width: 23.5%;
    &:nth-child(3n + 1),
    &:nth-child(3n + 2) {
      margin-right: 0;
    }
    &:nth-child(4n + 1),
    &:nth-child(4n + 2),
    &:nth-child(4n + 3) {
      margin-right: 2%;
    }
  }
  .card--image {
    position: relative;
    width: 100%;
    &:before {
      background-color: $black--40;
      border-radius: 10px;
      color: $white;
      font-size: 30px;
      left: 50%;
      margin: -25px 0 0 -36px;
      padding: 10px 20px;
      position: absolute;
      top: 50%;
    }
  }
  .card--info {
    padding: 10px;
    h2 {
      font-family: $font_custom;
    }
  }
  .dangerousness {
    color: $red;
    font-size: 32px;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    li {
      font-family: $font_icomoon;
      display: inline-block;
      &:before {
        content: '\e900';
      }
    }
  }
}
