.card {
  background-color: $white;
  box-shadow: 0 0 80px $white--50;
  margin-bottom: 15px;
  width: 100%;
  .card--image {
    position: relative;
    width: 100%;
    &:before {
      background-color: $black--40;
      border-radius: 10px;
      color: $white;
      font-size: 30px;
      left: 50%;
      margin: -25px 0 0 -36px;
      padding: 10px 20px;
      position: absolute;
      top: 50%;
    }
  }
  .card--info {
    padding: 10px;
  }
}
